<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.0 EJS</title>
</head>
<body>

    <!-- this is the EJS syntax -->
    <% if (week === 0 || week === 6) { %>
        <h1>Hey! it's the Weekend, it's time to have fun.</h1>
    <% } else { %>
        <h1>Hey! it's a Weekday, time to lock in and work hard!.</h1>
    <% } %>

</body>
</html>
